/* Footer.css */

.footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    height: auto; /* Allow height to grow with content */
    box-sizing: border-box; /* Include padding in height calculation */
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.footer p {
    margin: 0;
    font-size: 0.9em;
}

.footer-links {
    display: flex;
    align-items: center;
}

.footer-link {
    color: #050505;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.9em;
}

.footer-link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer {
        padding: 10px 5%;
    }
    
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer p {
        font-size: 0.8em;
        text-align: center;
        margin-bottom: 5px;
    }

    .footer-links {
        margin-top: 5px;
    }

    .footer-link {
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 10px 3%;
    }

    .footer p {
        font-size: 0.7em;
    }

    .footer-link {
        font-size: 0.8em;
    }
}
